# Load and process data

In [1]:
from src.load import loadData, loadPOSTED
from src.proc import processInputs

from posted.ted.TEDataSet import TEDataSet
from posted.ted.Mask import Mask

inputs = {}
outputs = {}
loadData(inputs)
loadPOSTED(inputs)

for tid, table in inputs['proc_tables'].items():
    display(tid, table.data.pint.dequantify())

/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEDataSet.py:446: TEGenerationFailure: No CAPEX value matching a relative FOPEX value found.
         type flow_type           unit component value
21  fopex_rel       NaN  dimensionless       NaN  0.04 (TID: DAC)
  warnings.warn(TEGenerationFailure(rows.loc[cond], self._tid, 'No CAPEX value matching a relative FOPEX value found.'))
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEDataSet.py:446: TEGenerationFailure: No CAPEX value matching a relative FOPEX value found.
         type flow_type           unit component value
22  fopex_rel       NaN  dimensionless       NaN  0.04 (TID: DAC)
  warnings.warn(TEGenerationFailure(rows.loc[cond], self._tid, 'No CAPEX value matching a relative FOPEX value found.'))
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/utils/utils.py:13: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  ret = pd.merge(
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:
/home/philippv/Documents/4-projects/02-green-value-chain/01-vcs/new/green-value-chains/.venv/lib/python3.10/site-packages/posted/ted/TEProcessTreeDataTable.py:52: PerformanceWarning: indexing past lexsort depth may impact performance.
  for colID in data['value', pDem].columns:

'HOTROLL'

part  value
type  capex demand:elec demand:heat demand:steelslab
unit    EUR         MWh         MWh                t
0     103.3     0.09432      0.4147            1.053

'CAST'

part  value
type  capex demand:elec demand:heat demand:steelliq
unit    EUR         MWh         MWh               t
0     41.63    0.009317    0.007222           1.032

'EAF'

part           value                                                   \
type           capex demand:alloys demand:coal demand:dri demand:elec
unit             EUR             t         MWh          t         MWh
reheating
w/ reheating   234.8         0.011      0.1836      1.001      0.6129
w/o reheating  234.8         0.011      0.1836      1.001      0.5731

part                                                                 \
type          demand:graph_electr demand:heat demand:lime demand:ng
unit                            t         MWh           t       MWh
reheating
w/ reheating             0.002125      0.1667        0.05    0.2167
w/o reheating            0.002125      0.1667        0.05    0.2167

part
type          demand:nitrogen demand:oxygen demand:steelscrap fopex_spec vopex
unit                        t             t                 t        EUR   EUR
reheating
w/ reheating              0.5        0.2598            0.1851      23.89   9.0
w/o reheating             0.5        0.2598            0.1851      23.89   9.0

'IDR'

part  value                                                             \
type  capex demand:elec demand:h2 demand:heat demand:ironore demand:ng
unit    EUR         MWh       MWh         MWh              t       MWh
0     320.7     0.09049     1.886      0.4839          1.444    0.4799

part
type fopex_spec
unit        EUR
0         12.42

'ELH2'

part  value
type  capex demand:elec demand:water fopex_spec
unit    EUR         MWh            t        EUR
0     31.01       1.411        0.285      1.735

'UREA-SYN'

part  value
type  capex demand:co2 demand:elec demand:heat demand:nh3
unit    EUR          t         MWh         MWh          t
0     213.0     0.7442      0.1326      0.9139      0.575

'HBNH3-ASU'

part  value
type  capex demand:elec demand:h2 fopex_spec   vopex
unit    EUR         MWh       MWh        EUR     EUR
0     446.2       0.824     5.933       10.7  3100.0

'DAC'

part  value
type  capex demand:elec demand:heat fopex_spec lifetime     ocf
unit    EUR         MWh         MWh        EUR        a
0     173.5       1.052       2.261      23.86     37.5  0.9132

'HEATPUMP-4-DAC'

part  value
type  capex demand:elec fopex_spec
unit    EUR         MWh        EUR
0     66.61      0.3045       1.21

'MEOH-2-OLEF'

part  value
type  capex demand:elec demand:meoh fopex_spec vopex
unit    EUR         MWh           t        EUR   EUR
0     395.1       1.389        2.28      29.85  20.0

'MEOH-SYN'

part  value
type  capex demand:co2 demand:elec demand:h2 fopex_spec lifetime vopex
unit    EUR          t         MWh       MWh        EUR        a   EUR
0     355.3      1.408        2.14     6.441      8.192     25.0  25.0